<h1> <%= @article.title %></h1>
<% if current_user.admin? %>
<ul>
	<% if @article.Status === 3 %>
<li>Status: Approved and Published.
<%= render 'reject' %> </li>
<% elsif @article.Status == 2 %>
<li>Status: Rejected. 
<%= render 'approve' %> </li>
<% else %>
<li>Status: Submitted
<%= render 'approve' %> </li>
<% end %>
</ul>
<% end %>
<p>
	Authored by <%= link_to @article.user.full_name, @article %> <br />
Published on <%= @article.updated_at %>
</p>
<p>
	<%= @article.articleText %>
</p>
<% if current_user?(@article.user) %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
