<% if @educations.any? %>
<table>
	<tr>
		<th>University:</th>
		<th>Course:</th>
		<th>Start date:</th>
		<th>End date:</th>
		<% if current_user?(@user) %>
		<th>Edit</th>
		<% end %>
	</tr>
<% @educations.each do |educations| %>
<tr>
	<td> <%= link_to educations.university.name, educations.university %> </td>
	<td> <%= link_to educations.course.name, educations.course %> </td>
	<td> <%= educations.startDate %> </td>
	<td> <%= educations.endDate %> </td>
	<% if current_user?(@user) %>
	<td><%= link_to "Edit Education Record", edit_education_path(educations) %></td>
	<% end %>
</tr>
<% end %>
</table>
<% elsif current_user?(@user) %>
<p> You currently have no education records. Please click on 'Add new education record' to build your education record.</p>
<% else %>
<p> This user currently has no education records. Please check back at a later date to learn about their experiences. </p>
<% end %>
