<%= form_for(@user_disability) do |f| %>
  <% if @user_disability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_disability.errors.count, "error") %> prohibited this user_disability from being saved:</h2>

      <ul>
      <% @user_disability.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :disability_id %><br>
    <%= f.number_field :disability_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :severity %><br>
    <%= f.text_field :severity %>
  </div>
  <div class="field">
    <%= f.label :supportRequired %><br>
    <%= f.text_area :supportRequired %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
