<h1>Listing user_disabilities</h1>

<table>
  <thead>
    <tr>
      <th>Disability</th>
      <th>User</th>
      <th>Severity</th>
      <th>Supportrequired</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_disabilities.each do |user_disability| %>
      <tr>
        <td><%= user_disability.disability_id %></td>
        <td><%= user_disability.user_id %></td>
        <td><%= user_disability.severity %></td>
        <td><%= user_disability.supportRequired %></td>
        <td><%= link_to 'Show', user_disability %></td>
        <td><%= link_to 'Edit', edit_user_disability_path(user_disability) %></td>
        <td><%= link_to 'Destroy', user_disability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User disability', new_user_disability_path %>
