<p id="notice"><%= notice %></p>

<p>
  <strong>Disability:</strong>
  <%= @user_disability.disability_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_disability.user_id %>
</p>

<p>
  <strong>Severity:</strong>
  <%= @user_disability.severity %>
</p>

<p>
  <strong>Supportrequired:</strong>
  <%= @user_disability.supportRequired %>
</p>

<%= link_to 'Edit', edit_user_disability_path(@user_disability) %> |
<%= link_to 'Back', user_disabilities_path %>
