<h1><%= link_to @post.user.full_name, @post.user %></h1>
<%= @post.postText %>
<span class="timestamp">
    Posted <%= time_ago_in_words(@post.created_at) %> ago.
  </span>
<p>
</p>

<h2>Comments (<%= @post.post_comments.count %>)</h2>

<%= render 'layouts/new_post_comment' %>

<p>
	<%= @post_comments %>
</p>
