<h1><%= @education.course.name %> at <%= @education.university.name %></h1>
<p>
  <strong>Student:</strong>
  <%= link_to @education.user.full_name, @education.user %>
</p>

<p>
  <strong>Course:</strong>
  <%= link_to @education.course.name, @education.course %>
</p>

<p>
  <strong>University:</strong>
  <%= link_to @education.university.name, @education.university %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @education.startDate %>
</p>

<p>
  <strong>End date:</strong>
  <%= @education.endDate %>
</p>

<p>
  <strong>Accessibility review:</strong>
  <%= @education.accessibilityReview %>
</p>

<p>
  <strong>Support requested:</strong>
  <%= @education.supportRequested %>
</p>

<p>
  <strong>Support received:</strong>
  <% if @education.supportReceived === false %>
    No
    <% else %>
    Yes
    <% end %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @education.reason %>
</p>

<p>
  <strong>Disability department rating:</strong>
  <%= @education.disabilityDeptRating %> out of 5
</p>

<p>
  <strong>Course department rating:</strong>
  <%= @education.courseDeptRating %> out of 5
</p>
<% if current_user?(@education.user) %>
<%= link_to 'Edit', edit_education_path(@education) %> |
<% end %>
<%= link_to 'Back', @education.user %>
