<h1>Listing disabilities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @disabilities.each do |disability| %>
      <tr>
        <td><%= disability.name %></td>
        <td><%= disability.description %></td>
        <td><%= link_to 'Show', disability %></td>
        <td><%= link_to 'Edit', edit_disability_path(disability) %></td>
        <td><%= link_to 'Destroy', disability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disability', new_disability_path %>
