<%# add navigation links to this file %>
<% if loged_in? %>
<li> <%= link_to_unless_current "Home", :controller => "pages", :action => "home" %> </li>
<li> <%= link_to_unless_current "Profile", current_user %>
	<li> <%= link_to_unless_current "Find Students", :controller => "pages", :action => "find_students" %> </li>
<li> <%= link_to_unless_current "Browse Articles", articles_path %></li>
<% if current_user.admin? %>

<% end %>
<li> <%= link_to_unless_current "Logout", logout_path, method: "delete"  %> </li>
<% else %>
<li> <%= link_to_unless_current "Home", :controller => "pages", :action => "home" %> </li>
<li> <%= link_to_unless_current "Login", login_path %> </li>
<li> <%= link_to_unless_current "Register", :controller => "users", :action => "new" %> </li>
<% end %>
<li> <%= link_to_unless_current "About Us", :controller => "pages", :action => "about" %> </li>
<li> <%= link_to_unless_current "Contact Us", :controller => "pages", :action => "contact" %> </li>
