<h2 class="user">
    <%= link_to newsFeed_item.user.full_name, newsFeed_item.user %>
  </h2>
  <span class="postText"><%= newsFeed_item.postText %></span> <br />
  <span class="timestamp">
    Posted <%= time_ago_in_words(newsFeed_item.created_at) %> ago.
  </span>
  <% if newsFeed_item.post_comments.any? %>
  <%= link_to pluralize(newsFeed_item.post_comments.count, "Comment"), newsFeed_item %>
  <% else %>
  <%= link_to "Comment", newsFeed_item %>
  <%end%>