<li id="<%= newsFeed_item.id %>">
    <span class="user">
    <%= link_to newsFeed_item.user.firstName, newsFeed_item.user %>
  </span>
  <span class="postText"><%= newsFeed_item.postText %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(newsFeed_item.created_at) %> ago.
  </span>
  <% if current_user?(newsFeed_item.user) %>
    <%= link_to "delete", newsFeed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: newsFeed_item.postText %>
  <% end %>
</li>
