  <%= form_for(@post) do |f| %>
  <%= render 'layouts/errorMessages', object: f.object %>
  <div class="field">
  	<%= f.label :postText, "Create new Post." %>
    <%= f.text_area :postText %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
